.home-header
  position: relative

  &__mobile-poster
    display: none

  &__content
    display: flex
    align-items: center

    &-button
      margin: 0 2rem 0 0 !important

      &:last-child
        margin: 0


@media screen and (max-width: 1024px)
  .home-header
    &__content
      justify-content: center
      flex-wrap: wrap

    .main-header__info
      display: none

    .main-header__content
      margin: 0 auto

    &__mobile-poster
      width: 100%
      display: block
      margin: 0 0 4rem 0 !important

@media screen and (max-width: 476px)
  .home-header
    &__content
      flex-direction: column

      &-button
        margin: 0 0 2rem 0 !important
        width: 100%

        &:last-child
          margin: 0 !important
